<header class="js-site-header site-header">
    <div class="container">
        <div class="row">
            <div class="col-9 col-md-3">
                <h1 class="col site-header__logo">The Wellbeing Hub, from Teen Tips</h1>
            </div>
            <nav class="col col-md-6 col-xxl-5 offset-xxl-1 site-header__nav d-flex">
                <ul class="list-reset d-flex align-items-center justify-content-between flex-fill">
                    <li><button class="btn btn-invisible btn-sm site-header__nav-item">Courses <span class="site-header__nav-item-icon icon icon-nav-down"></span></button></li>
                    <li><button class="btn btn-invisible btn-sm site-header__nav-item">Resources <span class="site-header__nav-item-icon icon icon-nav-down"></span></button></li>
                    <li><button class="btn btn-invisible btn-sm site-header__nav-item">Events <span class="site-header__nav-item-icon icon icon-nav-down"></span></button></li>
                    <li><button class="btn btn-invisible btn-sm site-header__nav-item">FAQS <span class="site-header__nav-item-icon icon icon-nav-down"></span></button></li>
                    <li><button class="btn btn-invisible btn-sm site-header__nav-item">Support <span class="site-header__nav-item-icon icon icon-nav-down"></span></button></li>
                </ul>
            </nav>
            <div class="col d-flex justify-content-end">
                <button class="site-header__search-button icon icon-search"><span class="visually-hidden">Search</span></button>
                <a class="btn btn-outline-inverse btn-sm align-self-center" href="#"><span class="icon icon-user"></span>Your account</a>
            </div>
        </div>
    </div>
</header>
