<header class="js-site-header site-header">
    <div class="container">
        <div class="row">
            <div class="col-9 col-md-3">
                <h1 class="col site-header__logo">The Wellbeing Hub, from Teen Tips</h1>
            </div>
            <nav class="col col-md-6 col-xxl-5 offset-xxl-1 site-header__nav d-flex">
                <ul class="list-reset d-flex align-items-center justify-content-between flex-fill">
                    <li><a href="#nav-courses" class="btn btn-invisible btn-sm site-header__nav-item js-site-header__nav-item">Courses <span class="site-header__nav-item-icon icon icon-nav-down"></span></a></li>
                    <li><a href="#nav-resources" class="btn btn-invisible btn-sm site-header__nav-item js-site-header__nav-item">Resources <span class="site-header__nav-item-icon icon icon-nav-down"></span></a></li>
                    <li><a href="#nav-events" class="btn btn-invisible btn-sm site-header__nav-item js-site-header__nav-item">Events <span class="site-header__nav-item-icon icon icon-nav-down"></span></a></li>
                    <li><a href="#nav-faqs" class="btn btn-invisible btn-sm site-header__nav-item js-site-header__nav-item">FAQS <span class="site-header__nav-item-icon icon icon-nav-down"></span></a></li>
                    <li><a href="#nav-support" class="btn btn-invisible btn-sm site-header__nav-item js-site-header__nav-item">Support <span class="site-header__nav-item-icon icon icon-nav-down"></span></a></li>
                </ul>
            </nav>
            <div class="col d-flex justify-content-end">
                <button class="site-header__search-button icon icon-search"><span class="visually-hidden">Search</span></button>
                <a class="btn btn-outline-inverse btn-sm align-self-center" href="#"><span class="icon icon-user"></span>Your account</a>
            </div>
        </div>
    </div>
</header>
<div id="nav-courses" class="nav-over">
    <div class="container nav-over__container">
        <div class="row">
            <div class="col-3">
                <nav class="nav-over__nav">
                    <ul class="list-reset">
                        <li class="nav-over__nav-item is-active"><a href="#nav-over-content-featured-courses">Featured Courses</a></li>
                        <li class="nav-over__nav-item"><a href="#nav-over-content-staff-course">Staff Course</a></li>
                        <li class="nav-over__nav-item"><a href="#nav-over-content-gender-based-violence-training">Gender-Based Violence Training</a></li>
                        <li class="nav-over__nav-item"><a href="#nav-over-content-our-complete-parenting-courses">Our Complete Parenting Courses</a></li>
                        <li class="nav-over__nav-item"><a href="#nav-over-content-parents-events-talks">Parent Events Talks</a></li>
                    </ul>
                    <div class="nav-over__nav-cta">
                        <a href="#" class="btn btn-inverse">Full Overview</a>
                    </div>
                </nav>
            </div>
            <div class="col-9 nav-over__content">
                <div id="nav-over-content-featured-courses" class="nav-over__content-item is-active">
                    <h2 class="nav-over__content-heading">Featured Courses</h2>
                    <ul class="list-reset row">
                        <li class="col-3 d-flex">
                            <article class="summary-card summary-card--with-image">
                                <div class="summary-card__image"><img src="/images/content/running.jpg" /></div>
                                <div class="summary-card__body">
                                    <strong class="summary-card__kicker kicker kicker--small">14th September, 6:30pm</strong>
                                    <span class="icon icon-event summary-card__icon"></span>
                                    <h2 class="summary-card__title">Resilient Adults, Resilient Children</h2>
                                    <p class="summary-card__byline"><strong>With:</strong> Alicia Drummond</p>
                                    <p class="summary-card__text">
                                        As another school year starts we thought it would be a good idea to think about how we adults look after
                                        our wellbeing, and...
                                    </p>
                                    <footer class="summary-card__footer">
                                        <a class="badge" href="#">Mental Health</a><a class="badge" href="#">Anxiety</a>
                                    </footer>
                                </div>
                            </article>
                        </li>
                        <li class="col-3 d-flex">
                            <article class="summary-card summary-card--with-image">
                                <div class="summary-card__image"><img src="/images/content/sunny.jpg" /></div>
                                <div class="summary-card__body">
                                    <strong class="summary-card__kicker kicker kicker--small">19th October, 6:30pm</strong>
                                    <span class="icon icon-event summary-card__icon"></span>
                                    <h2 class="summary-card__title">Changing The Stories We Tell Ourselves</h2>
                                    <p class="summary-card__byline"><strong>With:</strong> Alicia Drummond</p>
                                    <p class="summary-card__text">
                                        The stories we are told, books we read, poems, family sagas, myths, legends, song lyrics, comics, and
                                        journals contribute...
                                    </p>
                                    <footer class="summary-card__footer">
                                        <a class="badge" href="#">Mental Health</a><a class="badge" href="#">Anxiety</a>
                                    </footer>
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="nav-resources" class="nav-over">
    <div class="container nav-over__container">
        <div class="row">
            <div class="col-3">
                <nav class="nav-over__nav">
                    <ul class="list-reset">
                        <li class="nav-over__nav-item is-active"><a href="#nav-over-content-featured-courses">Featured Courses</a></li>
                        <li class="nav-over__nav-item"><a href="#nav-over-content-staff-course">Staff Course</a></li>
                        <li class="nav-over__nav-item"><a href="#nav-over-content-gender-based-violence-training">Gender-Based Violence Training</a></li>
                        <li class="nav-over__nav-item"><a href="#nav-over-content-our-complete-parenting-courses">Our Complete Parenting Courses</a></li>
                        <li class="nav-over__nav-item"><a href="#nav-over-content-parents-events-talks">Parent Events Talks</a></li>
                    </ul>
                    <div class="nav-over__nav-cta">
                        <a href="#" class="btn btn-inverse">Full Overview</a>
                    </div>
                </nav>
            </div>
            <div class="col-9 nav-over__content">
                <div id="nav-over-content-featured-courses" class="nav-over__content-item is-active">
                    <h2 class="nav-over__content-heading">Popular Topics</h2>
                    <ul class="list-reset row">
                        <li class="col-3 d-flex">
                            <article class="summary-card summary-card--with-image">
                                <div class="summary-card__image"><img src="/images/content/running.jpg" /></div>
                                <div class="summary-card__body">
                                    <strong class="summary-card__kicker kicker kicker--small">14th September, 6:30pm</strong>
                                    <span class="icon icon-event summary-card__icon"></span>
                                    <h2 class="summary-card__title">Resilient Adults, Resilient Children</h2>
                                    <p class="summary-card__byline"><strong>With:</strong> Alicia Drummond</p>
                                    <p class="summary-card__text">
                                        As another school year starts we thought it would be a good idea to think about how we adults look after
                                        our wellbeing, and...
                                    </p>
                                    <footer class="summary-card__footer">
                                        <a class="badge" href="#">Mental Health</a><a class="badge" href="#">Anxiety</a>
                                    </footer>
                                </div>
                            </article>
                        </li>
                        <li class="col-3 d-flex">
                            <article class="summary-card summary-card--with-image">
                                <div class="summary-card__image"><img src="/images/content/sunny.jpg" /></div>
                                <div class="summary-card__body">
                                    <strong class="summary-card__kicker kicker kicker--small">19th October, 6:30pm</strong>
                                    <span class="icon icon-event summary-card__icon"></span>
                                    <h2 class="summary-card__title">Changing The Stories We Tell Ourselves</h2>
                                    <p class="summary-card__byline"><strong>With:</strong> Alicia Drummond</p>
                                    <p class="summary-card__text">
                                        The stories we are told, books we read, poems, family sagas, myths, legends, song lyrics, comics, and
                                        journals contribute...
                                    </p>
                                    <footer class="summary-card__footer">
                                        <a class="badge" href="#">Mental Health</a><a class="badge" href="#">Anxiety</a>
                                    </footer>
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="nav-events" class="nav-over">
    <div class="container nav-over__container">
        <div class="row">
            <div class="col-3">
                <nav class="nav-over__nav">
                    <ul class="list-reset">
                        <li class="nav-over__nav-item is-active"><a href="#nav-over-content-featured-courses">Featured Courses</a></li>
                        <li class="nav-over__nav-item"><a href="#nav-over-content-staff-course">Staff Course</a></li>
                        <li class="nav-over__nav-item"><a href="#nav-over-content-gender-based-violence-training">Gender-Based Violence Training</a></li>
                        <li class="nav-over__nav-item"><a href="#nav-over-content-our-complete-parenting-courses">Our Complete Parenting Courses</a></li>
                        <li class="nav-over__nav-item"><a href="#nav-over-content-parents-events-talks">Parent Events Talks</a></li>
                    </ul>
                    <div class="nav-over__nav-cta">
                        <a href="#" class="btn btn-inverse">Full Overview</a>
                    </div>
                </nav>
            </div>
            <div class="col-9 nav-over__content">
                <div id="nav-over-content-featured-courses" class="nav-over__content-item is-active">
                    <h2 class="nav-over__content-heading">Winter Term Webinars</h2>
                    <ul class="list-reset row">
                        <li class="col-3 d-flex">
                            <article class="summary-card summary-card--with-image">
                                <div class="summary-card__image"><img src="/images/content/running.jpg" /></div>
                                <div class="summary-card__body">
                                    <strong class="summary-card__kicker kicker kicker--small">14th September, 6:30pm</strong>
                                    <span class="icon icon-event summary-card__icon"></span>
                                    <h2 class="summary-card__title">Resilient Adults, Resilient Children</h2>
                                    <p class="summary-card__byline"><strong>With:</strong> Alicia Drummond</p>
                                    <p class="summary-card__text">
                                        As another school year starts we thought it would be a good idea to think about how we adults look after
                                        our wellbeing, and...
                                    </p>
                                    <footer class="summary-card__footer">
                                        <a class="badge" href="#">Mental Health</a><a class="badge" href="#">Anxiety</a>
                                    </footer>
                                </div>
                            </article>
                        </li>
                        <li class="col-3 d-flex">
                            <article class="summary-card summary-card--with-image">
                                <div class="summary-card__image"><img src="/images/content/sunny.jpg" /></div>
                                <div class="summary-card__body">
                                    <strong class="summary-card__kicker kicker kicker--small">19th October, 6:30pm</strong>
                                    <span class="icon icon-event summary-card__icon"></span>
                                    <h2 class="summary-card__title">Changing The Stories We Tell Ourselves</h2>
                                    <p class="summary-card__byline"><strong>With:</strong> Alicia Drummond</p>
                                    <p class="summary-card__text">
                                        The stories we are told, books we read, poems, family sagas, myths, legends, song lyrics, comics, and
                                        journals contribute...
                                    </p>
                                    <footer class="summary-card__footer">
                                        <a class="badge" href="#">Mental Health</a><a class="badge" href="#">Anxiety</a>
                                    </footer>
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="nav-faqs" class="nav-over">
    <div class="container nav-over__container">
        <div class="row">
            <div class="col-3">
                <nav class="nav-over__nav">
                    <ul class="list-reset">
                        <li class="nav-over__nav-item is-active"><a href="#nav-over-content-featured-courses">Featured Courses</a></li>
                        <li class="nav-over__nav-item"><a href="#nav-over-content-staff-course">Staff Course</a></li>
                        <li class="nav-over__nav-item"><a href="#nav-over-content-gender-based-violence-training">Gender-Based Violence Training</a></li>
                        <li class="nav-over__nav-item"><a href="#nav-over-content-our-complete-parenting-courses">Our Complete Parenting Courses</a></li>
                        <li class="nav-over__nav-item"><a href="#nav-over-content-parents-events-talks">Parent Events Talks</a></li>
                    </ul>
                    <div class="nav-over__nav-cta">
                        <a href="#" class="btn btn-inverse">Full Overview</a>
                    </div>
                </nav>
            </div>
            <div class="col-9 nav-over__content">
                <div id="nav-over-content-featured-courses" class="nav-over__content-item is-active">
                    <h2 class="nav-over__content-heading">Popular Questions</h2>
                    <ul class="list-reset row">
                        <li class="col-3 d-flex">
                            <article class="summary-card summary-card--with-image">
                                <div class="summary-card__image"><img src="/images/content/running.jpg" /></div>
                                <div class="summary-card__body">
                                    <strong class="summary-card__kicker kicker kicker--small">14th September, 6:30pm</strong>
                                    <span class="icon icon-event summary-card__icon"></span>
                                    <h2 class="summary-card__title">Resilient Adults, Resilient Children</h2>
                                    <p class="summary-card__byline"><strong>With:</strong> Alicia Drummond</p>
                                    <p class="summary-card__text">
                                        As another school year starts we thought it would be a good idea to think about how we adults look after
                                        our wellbeing, and...
                                    </p>
                                    <footer class="summary-card__footer">
                                        <a class="badge" href="#">Mental Health</a><a class="badge" href="#">Anxiety</a>
                                    </footer>
                                </div>
                            </article>
                        </li>
                        <li class="col-3 d-flex">
                            <article class="summary-card summary-card--with-image">
                                <div class="summary-card__image"><img src="/images/content/sunny.jpg" /></div>
                                <div class="summary-card__body">
                                    <strong class="summary-card__kicker kicker kicker--small">19th October, 6:30pm</strong>
                                    <span class="icon icon-event summary-card__icon"></span>
                                    <h2 class="summary-card__title">Changing The Stories We Tell Ourselves</h2>
                                    <p class="summary-card__byline"><strong>With:</strong> Alicia Drummond</p>
                                    <p class="summary-card__text">
                                        The stories we are told, books we read, poems, family sagas, myths, legends, song lyrics, comics, and
                                        journals contribute...
                                    </p>
                                    <footer class="summary-card__footer">
                                        <a class="badge" href="#">Mental Health</a><a class="badge" href="#">Anxiety</a>
                                    </footer>
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="nav-support" class="nav-over">
    <div class="container nav-over__container">
        <div class="row">
            <div class="col-3">
                <nav class="nav-over__nav">
                    <ul class="list-reset">
                        <li class="nav-over__nav-item is-active"><a href="#nav-over-content-featured-courses">Featured Courses</a></li>
                        <li class="nav-over__nav-item"><a href="#nav-over-content-staff-course">Staff Course</a></li>
                        <li class="nav-over__nav-item"><a href="#nav-over-content-gender-based-violence-training">Gender-Based Violence Training</a></li>
                        <li class="nav-over__nav-item"><a href="#nav-over-content-our-complete-parenting-courses">Our Complete Parenting Courses</a></li>
                        <li class="nav-over__nav-item"><a href="#nav-over-content-parents-events-talks">Parent Events Talks</a></li>
                    </ul>
                    <div class="nav-over__nav-cta">
                        <a href="#" class="btn btn-inverse">Full Overview</a>
                    </div>
                </nav>
            </div>
            <div class="col-9 nav-over__content">
                <div id="nav-over-content-featured-courses" class="nav-over__content-item is-active">
                    <h2 class="nav-over__content-heading">Specialist Help</h2>
                    <ul class="list-reset row">
                        <li class="col-3 d-flex">
                            <article class="summary-card summary-card--with-image">
                                <div class="summary-card__image"><img src="/images/content/running.jpg" /></div>
                                <div class="summary-card__body">
                                    <strong class="summary-card__kicker kicker kicker--small">14th September, 6:30pm</strong>
                                    <span class="icon icon-event summary-card__icon"></span>
                                    <h2 class="summary-card__title">Resilient Adults, Resilient Children</h2>
                                    <p class="summary-card__byline"><strong>With:</strong> Alicia Drummond</p>
                                    <p class="summary-card__text">
                                        As another school year starts we thought it would be a good idea to think about how we adults look after
                                        our wellbeing, and...
                                    </p>
                                    <footer class="summary-card__footer">
                                        <a class="badge" href="#">Mental Health</a><a class="badge" href="#">Anxiety</a>
                                    </footer>
                                </div>
                            </article>
                        </li>
                        <li class="col-3 d-flex">
                            <article class="summary-card summary-card--with-image">
                                <div class="summary-card__image"><img src="/images/content/sunny.jpg" /></div>
                                <div class="summary-card__body">
                                    <strong class="summary-card__kicker kicker kicker--small">19th October, 6:30pm</strong>
                                    <span class="icon icon-event summary-card__icon"></span>
                                    <h2 class="summary-card__title">Changing The Stories We Tell Ourselves</h2>
                                    <p class="summary-card__byline"><strong>With:</strong> Alicia Drummond</p>
                                    <p class="summary-card__text">
                                        The stories we are told, books we read, poems, family sagas, myths, legends, song lyrics, comics, and
                                        journals contribute...
                                    </p>
                                    <footer class="summary-card__footer">
                                        <a class="badge" href="#">Mental Health</a><a class="badge" href="#">Anxiety</a>
                                    </footer>
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
