.badge {
    line-height: 1.4em;
    background-color: $darkblue-5;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.badge--alternate {
    padding: pxtorem(4) pxtorem(12);
    background-color: $darkblue-10;
    color: $black;
    border-radius: 99rem;
}
