// Button CSS
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    @include media-breakpoint-down(sm) {
        display: flex;
        text-align: center;
        width: 100%;
    }
}

.btn [class^="icon-"]::before,
.btn [class*=" icon-"]::before {
    vertical-align: middle;
}

.btn.btn-primary {
    --bs-btn-hover-bg: #{$blue-vibrant};
    --bs-btn-hover-border-color: #{$blue-vibrant};
}

.btn.btn-outline-primary {
    --bs-btn-hover-border-color: #{$blue-vibrant};
    --bs-btn-hover-color: #{$blue-vibrant};
    --bs-btn-hover-bg: #{$white};
}

.btn.btn-secondary {
    --bs-btn-hover-bg: #{$green-vibrant};
    --bs-btn-hover-border-color: #{$green-vibrant};
}

.btn.btn-outline-secondary {
    --bs-btn-hover-border-color: #{$green-vibrant};
    --bs-btn-hover-color: #{$green-vibrant};
    --bs-btn-hover-bg: #{$white};
}

.btn.btn-inverse {
    --bs-btn-bg: #{$white};
    --bs-btn-border-color: #{$white};
    --bs-btn-color: #{$blue};
    --bs-btn-hover-bg: #{$darkblue-5};
    --bs-btn-hover-color: #{$blue};
}

.btn.btn-outline-inverse {
    --bs-btn-border-color: #{$white};
    --bs-btn-hover-border-color: #{$white};
    --bs-btn-color: #{$white};
    --bs-btn-hover-color: #{$blue};
    --bs-btn-hover-bg: #{$white};
}

.btn.btn-info {
    --bs-btn-color: #{$blue};
}

.btn.btn-mid-light {
    --bs-btn-bg: #{$darkblue-10};
    --bs-btn-color: #{$blue};
}

.btn.btn-invisible {
    background: none;
    border: 0;
    color: $white;

    &:hover {
        background: $blue;
    }
}

.btn.btn-invisible-primary {
    background: none;
    border: 0;
    color: $blue;
}

.btn.btn-round {
    padding: pxtoem(3, 16) pxtoem(10, 16) pxtoem(7, 16);
    border-radius: 99em;
}
