.flash-card {
    padding: 20px 30px 20px 24px;
    gap: 12px;
    background: $white;
    box-shadow: 0 4px 18px rgb(28 37 98 / 10%);
    border-radius: $border-radius;
    font-size: $h6-font-size;
    color: $blue;
    font-family: $font-family-display;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.flash-card--dark {
    background: $darkblue-5;
}
