.hero {
    @include media-breakpoint-up(xxl) {
        justify-content: space-around;
    }
}

.hero__column-one {
    @include media-breakpoint-down(lg) {
        margin-bottom: 75px;
    }
}
.hero__column-two {
}

.hero__title {
    @include font-size($h1-font-size);
    margin-bottom: 24px;
}
.hero__body {
    @include font-size($h5-font-size);
    margin-bottom: 24px;
}
.hero__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
