.hero-card {
}
.hero-card__title {
    @include font-size($h1-font-size);
    margin-bottom: 24px;
}
.hero-card__body {
    @include font-size($h5-font-size);
    margin-bottom: 24px;
}
.hero-card__footer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
