.kicker {
    margin: 0;
    letter-spacing: 0.1em;
    font-size: $h8-font-size;
    font-family: $font-family-display;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
    color: $blue;
}

.kicker--small {
    font-size: pxtorem(10);
    font-weight: 400;
}

.kicker--dark {
    color: $darkblue;
}
