body.nav-over-open {
    overflow: hidden;;
}
.nav-over {
    position: fixed;
    height: 100vh;
    top: 0; 
    padding-top: 114px; // Temporary, height of site header
    left: 0;
    right: 0;
    z-index: 9;
    overflow-y: auto;
    background: $darkblue-5;
    display: none;
    
    &.is-open {
        display: block;
    }
}

.nav-over__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 114px; // Temporary, height of site header
    bottom: 0;
    overflow-y: auto;
    background: $darkblue-10;
}

.nav-over__nav-item {
    padding: pxtorem(18) pxtorem(24);
    border-bottom: 1px solid $darkblue-20;
    font-family: $font-family-sans-serif;
    font-size: $h6-font-size;
    color: $blue;

    &.is-active {
        background: $darkblue-5;
        font-weight: 700;
        border-bottom-color: $darkblue-5;
    }

    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.nav-over__nav-cta {
    padding: pxtorem(18) pxtorem(24); 
}

.nav-over__content-item {
    padding-top: 37px;
}

.nav-over__content-heading {
    font-size: $h4-font-size;
    font-weight: 400;
}
