{% include "head.html" %}
{% include "site-header.html" %}
    <main>
        <section class="container">
            <div class="hero hero--image-left-aligned mb-lg-n4">
                <div class="row">
                    <div class="hero__column-one col-md-6 col-xxl-5 offset-xxl-1 order-2 order-md-1 mb-lg-8 d-flex flex-column">
                        <p class="kicker">Courses</p>
                        <h2 class="hero__title">Staff course</h2>
                        <p class="hero__body">
                            Cras commodo nibh vitae eleifend scelerisque. Aliquam cursus placerat erat. Sed lorem ligula, pellentesque at diam in, laoreet dapibus sem. Quisque venenatis nec erat eu varius. Sed sit amet leo in libero sodales venenatis. Cras non lorem tincidunt, mattis est sit amet, egestas nunc.
                        </p>
                        <div class="hero__actions">
                            <a class="btn btn-primary" href="#"> Access the course</a>
                            <a class="btn btn-outline-primary" href="#"><span class="icon icon-download"></span>Course outline</a>
                        </div>
                    </div>
                    <div class="hero__column-two col-md-5 offset-xxl-1 order-1 order-md-2">
                        <div class="hero__image">
                            <img src="/images/content/lovethisclass.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="text-bg-light pt-3 pb-3 pt-lg-5 pb-lg-5">
            <div class="container">
                <h2 class="h4 fw-normal mb-2">Here's what you will learn:</h2>
                <div class="row">
                    <div class="col-md-6 d-flex">
                        <article class="teaser-card">
                            <strong class="kicker">Module one</strong>
                            <h2 class="h3 teaser-card__heading">Intra-personal & Interpersonal Communication</h2>
                            <p>Creating healthy internal dialogue and self concept. Understanding the OK Corral to spot the signs of low self-esteem.</p>
                        </article>
                    </div>
                    <div class="col-md-6 mt-2 mt-md-0 d-flex">
                        <article class="teaser-card">
                            <strong class="kicker">Module 2</strong>
                            <h2 class="h3 teaser-card__heading">Child & Youth Development</h2>
                            <p>Develop an understanding of Attachment Theory and how to work with the different attachment styles. Explore what neuroscience can tell us about attachment & trauma.
                            </p>
                        </article>
                    </div>
                </div>
                <div class="row mt-md-3">
                    <div class="col-md-6 mt-2 mt-md-0 d-flex">
                        <article class="teaser-card">
                            <strong class="kicker">Module 3</strong>
                            <h2 class="h3 teaser-card__heading">The Teenage Brain</h2>
                            <p>The adolescent brain and its impact on risk taking, experimentation, impulse & emotional control, recognition of social cues and why sleep matters.</p>
                        </article>
                    </div>
                    <div class="col-md-6 mt-2 mt-md-0 d-flex">
                        <article class="teaser-card">
                            <strong class="kicker">Module 4</strong>
                            <h2 class="h3 teaser-card__heading">Mental Health</h2>
                            <p>Mental health awareness and recognising the signs of mental ill-health.</p>
                        </article>
                    </div>
                </div>
                <div class="row mt-md-3">
                    <div class="col-md-6 mt-2 mt-md-0 d-flex">
                        <article class="teaser-card">
                            <strong class="kicker">Module 5 & 6</strong>
                            <h2 class="h3 teaser-card__heading">Self Awareness</h2>
                            <p>Strategies to help young people manage their emotions in flashpoint situations. Listening to understand unmet emotional needs. CBT & Neuroscience for staff and students. Developing and maintaining mental health and wellbeing.</p>
                        </article>
                    </div>
                    <div class="col-md-6  mt-2 mt-md-0 d-flex">
                        <article class="teaser-card">
                            <strong class="kicker">Module 7</strong>
                            <h2 class="h3 teaser-card__heading">Motivation</h2>
                            <p>The impact of labelling, an introduction to Transactional Analysis, the Law of Attraction and the Hebbian Law.</p>
                        </article>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2 mt-md-3">
                    <a href="#" class="btn btn-primary">Access the course</a>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="banner row pt-3 pb-3 pt-lg-6 mt-lg-4 pb-lg-8 mb-lg-8">
                <div class="col-sm-9 offset-sm-3 col-lg-6 offset-lg-5">
                    <div class="banner__content">
                        <span class="banner__icon icon icon-support"></span>
                        <h2 class="banner__title">Specialist Help</h2>
                        <p class="banner__body">
                            For when you really need it. From the moment we receive your enquiry, we will work with you to ensure you
                            get the best possible help.
                        </p>
                        <footer class="banner__actions">
                            <a href="#" class="btn btn-primary">Our specialist support</a>
                            <a href="#" class="btn btn-primary">Book a 1-2-1</a>
                        </footer>
                    </div>
                </div>
                <div class="banner__underlay col-9 col-lg-5 offset-lg-1">
                    <div class="banner__image"><img src="/images/content/ha.jpg" /></div>
                </div>
            </div>
        </section>
    </main>
    {% include "site-footer.html" %}
    <script src="/scripts/bundle.js"></script>
    </body>
</html>
