{% include "head.html" %}
{% include "site-header.html" %}
    <main>
        <section class="container mt-4">
            <div class="banner banner--dark banner--flipped row">
                <div class="col-sm-9 col-lg-7 col-xl-6 ms-xl-3">
                    <div class="banner__content">
                        <span class="banner__icon icon icon-support"></span>
                        <h2 class="banner__title">Our courses</h2>
                        <p class="banner__body">
                            If you’re looking for a trusted courses for your parents, pupils and staff, The Wellbeing Hub is designed by
                            experts to meet the social, emotional and educational needs of young people.
                        </p>
                        <footer class="banner__actions">
                            <a href="#" class="btn btn-outline-inverse"
                                ><span class="icon icon-download"></span>View available courses</a
                            >
                        </footer>
                    </div>
                </div>
                <div class="banner__underlay col-10 col-sm-5 col-lg-7">
                    <div class="banner__image"><img src="/images/content/happy.jpg" /></div>
                </div>
            </div>
        </section>
    </main>
    {% include "site-footer.html" %}
    <script src="/scripts/bundle.js"></script>
    </body>
</html>
