{% include "head.html" %}
{% include "site-header.html" %}
<div class="container-fluid">
    <div class="row align-items-stretch">
        <div class="col-md-3 d-flex">
            <nav class="js-topic-navigation topic-navigation">
                <h2 class="js-topic-navigation__title topic-navigation__title">Anxiety and stress questions</h2>
                <ul class="js-topic-navigation__list topic-navigation__list list-reset">
                    <li class="topic-navigation__list-item"><a href="#" class="topic-navigation__list-item-link d-flex align-items-center justify-content-between is-active">I feel nervous in groups of people, what can I do?</a></li>
                    <li class="topic-navigation__list-item"><a href="#" class="topic-navigation__list-item-link d-flex align-items-center justify-content-between">What do people mean when they say social anxiety?<span class="icon icon-nav-down rotate-270 d-flex topic-navigation__list-item-icon"></span></a></li>
                    <li class="topic-navigation__list-item"><a href="#" class="topic-navigation__list-item-link d-flex align-items-center justify-content-between">I feel really nervous about exams, what can I do to help myself?<span class="icon icon-nav-down rotate-270 d-flex topic-navigation__list-item-icon"></span></a></li>
                    <li class="topic-navigation__list-item"><a href="#" class="topic-navigation__list-item-link d-flex align-items-center justify-content-between">I have a pupil in my class who regularly has panic attacks - any suggestions?<span class="icon icon-nav-down rotate-270 d-flex topic-navigation__list-item-icon"></span></a></li>
                    <li class="topic-navigation__list-item"><a href="#" class="topic-navigation__list-item-link d-flex align-items-center justify-content-between">What can I do to help my child manage their anxiety?<span class="icon icon-nav-down rotate-270 d-flex topic-navigation__list-item-icon"></span></a></li>
                    <li class="topic-navigation__list-item"><a href="#" class="topic-navigation__list-item-link d-flex align-items-center justify-content-between">What do people mean when they say social anxiety?<span class="icon icon-nav-down rotate-270 d-flex topic-navigation__list-item-icon"></span></a></li>
                    <li class="topic-navigation__list-item"><a href="#" class="topic-navigation__list-item-link d-flex align-items-center justify-content-between">I feel really nervous about exams, what can I do to help myself?<span class="icon icon-nav-down rotate-270 d-flex topic-navigation__list-item-icon"></span></a></li>
                    <li class="topic-navigation__list-item"><a href="#" class="topic-navigation__list-item-link d-flex align-items-center justify-content-between">I have a pupil in my class who regularly has panic attacks - any suggestions?<span class="icon icon-nav-down rotate-270 d-flex topic-navigation__list-item-icon"></span></a></li>
                    <li class="topic-navigation__list-item"><a href="#" class="topic-navigation__list-item-link d-flex align-items-center justify-content-between">What can I do to help my child manage their anxiety?<span class="icon icon-nav-down rotate-270 d-flex topic-navigation__list-item-icon"></span></a></li>
                </ul>
            </nav>
        </div>
        <main class="col-md-8 col-lg-7 offset-lg-1 mt-3 mt-lg-6">
            <p class="kicker">Anxiety & Stress</p>
            <h1>I feel nervous in groups of people, what can I do?</h1>
            <p>Social anxiety often stems from negative thoughts we have about ourselves. Identifying these thoughts and challenging them can be very helpful in reducing our stress.</p>

                <p><strong>Negative thinking may include:</strong></p>
                
                <p>Believing we know what someone else is thinking and assuming they are seeing us in the same negative way we are seeing ourselves.
                Believing, we know what will happen before it happens and assuming the worst case scenario.
                Blowing things out of proportion and imagining that something will be disastrous or terrible.
                Imagining that other people are focusing on us in a negative way, or that what’s going on with other people has something to do with us.
                </p>
                <p>Here is a list of suggestions for you to try which should help you reduce your anxiety.</p>
                
                <p>Instead of focusing your attention on yourself and on how you are feeling, try to look outwards and focus on what is happening around you.
                Focus on other people by joining in conversation. It may help to have thought of some things to talk about beforehand such as a film you have seen, a game you have played or something that is happening in the news.
                Remember that feeling nervous is normal and, that what you feel on the inside isn’t necessarily visible from the outside. If you feel nervous the chances are that other people are feeling nervous too and, just like you can’t see it in them, so they can’t see it in you. And if they are not nervous in a social situation it doesn’t mean they are never nervous. Most people feel anxious about something at sometime or other.
                When talking to someone try not to think of what you will say next or how you are feeling but instead give your full attention to what they are saying. Asking a question is a good way to get someone else talking and most people like to give their opinion and feel happy and validated that you might want to hear it.
                Remember that most people are more concerned with how they come across than how you come across so, don’t spend time over analysing a comment you made that is already in the past, chances are they haven’t put nearly as much importance on it as you have.
                Don’t worry about being perfect or getting everything right. Be present, attentive and genuine. Focus on making a connection with the other person rather than thinking about yourself.
                Be gentle on yourself. We all make mistakes or say things we wish we hadn’t. It’s more important, helpful and healthy to keep putting yourself out there and making connections with people than it is to over analyse a conversation or comment that is now in the past.
                Keep breathing. Sometimes anxiety can make us breath faster and with shallow breaths that adds to a feeling of dizziness, increased heart rate and tension.
                Learning to control your breath with slow, deep inhales and exhales, relaxed shoulders and by cultivating a sense of being strongly grounded and in your body can be very beneficial in combating anxiety. There are many apps on the market that can help you so spend some time to find which one works for you.
                Face your fears slowly and calmly. Sometimes we would rather avoid social situations that make us anxious but this can lead to avoiding more and more things rather than overcoming them and enjoying more and more successes. So take small steps, maybe this will be going to a social event and staying for just an hour, or maybe it will be identifying one person you would like to get to know better and simply saying “Hello”.
                Celebrate your successes. It takes a lot of courage and commitment to face your fears and deal with social anxiety so don’t forget to acknowledge every step forward, however small and congratulate yourself.</p>
                
               <p>Whilst social anxiety is normal, it is also possible for anxiety to become so strong that it negatively impacts on our ability to function normally or causes us to withdraw from society. If you feel that the suggestions above have not helped it may be that you would benefit from some more individual help and should consider getting professional help from your doctor, a qualified therapist or your school counsellor.</p>
        </main>
    </div>
</div>
    {% include "site-footer.html" %}
    <script src="/scripts/bundle.js"></script>
    </body>
</html>
