{% include "head.html" %}
{% include "site-header.html" %}
    <main>
        <section class="container mt-3 mt-lg-6">
            <div class="row">
                <div class="col-lg-7 offset-lg-1">
                    <p class="kicker kicker--dark">Podcast</p>
                    <h1>Journaling for Wellbeing & Stress</h1>
                    <div class="content-meta">
                        <p class="content-meta__item"><strong>With:</strong> Francesca Geens, The Happy Self Journal</p>
                        <p class="content-meta__item"><strong>Posted:</strong> 27th May 2022</p>
                        <div class="content-meta__tags">
                            <a class="badge" href="#">Mental Health</a>
                            <a class="badge" href="#">Anxiety</a>
                        </div>
                        <a class="btn btn-invisible-primary btn-always-inline ps-0 " href="#"><span class="icon icon-favorite"></span>Add to favourites</a>
                        <a class="btn btn-invisible-primary btn-always-inline ps-0" href="#"><span class="icon icon-download"></span>Save as PDF</a>
                    </div>
                    <p>While many families will be looking forward to their first holiday abroad in three years, parents who are recently separated or divorced might be feeling anxious about holidaying as a single parent. Parents who are divorced or separated must take certain steps to ensure that their trip is in line with the law. These rules apply regardless of whether parents have a very casual agreement regarding child arrangements, or when a Child Arrangements Order has been put in place which outlines the child’s contact and living arrangements.</p>
                    <p>The starting point is that everyone with parental responsibility must agree to the holiday.  Usually this will be both parents, but it could be a parent and a grandparent and/or an aunt/uncle. Taking a child abroad without obtaining permission first may be classified as abduction which is a criminal offence, and special officers may be deployed to return the child home, with family and criminal proceedings to follow so it is crucial to get things right.</p>
                    <figure class="image-splash">
                        <img src="/images/content/sunny.jpg" />
                        <figcaption>Image caption lorem ipsum dolor</figcaption>
                    </figure>
                    <p>The only exception to the rule is when a child arrangements order provides for the child or children to live with one parent. In such cases, the resident parent may take the child abroad without the consent of the other parent for up to 28 days. Even where this is the case, it is nearly always advisable to be open and discuss the plans with the non-resident parent at the earliest opportunity.</p>
                    <p>How you obtain consent from the other parent will largely depend on the relationship you have with your former spouse and how the day-to-day communications take place. Ideally, permission should be requested and given in writing. Parents, particularly those who are on good terms, may feel comfortable messaging/emailing one another directly. Other parents may feel more comfortable instructing a solicitor to write a letter to the other parent on their behalf.</p>
                    <blockquote class="pull-quote">When it is time to travel, you should ideally have a hard copy of the consent provided by the child’s other parent</blockquote>
                    <p>When writing to the other parent, full details of the trip should be provided which include: the duration of the trip, the dates and time of travel, the mode of transport and any flight/boat numbers, the accommodation address, and the names of any third parties who will be travelling too. Arrangements should also be made for the handing over of passports and other travel documents. If your child takes any prescribed medication, take time to ensure that the child has enough medication to cover the duration of the holiday. It might also be worth discussing how a new prescription can be organised in case medication gets lost during the trip.</p>
                    <p>Depending on the age of the child, you should agree how regularly the child or children will communicate with the parent remaining at home and by what means, for example  by  Facetime or just phone calls. Agreeing contact arrangements before the holiday can help to avoid unnecessary disputes over any missed calls or unanswered messages.  To ensure that the plans run smoothly, you should provide the other parent with all these details as early as possible.</p>
                    <p>When it is time to travel, you should ideally have a hard copy of the consent provided by the child’s other parent. It may be helpful to have a copy of their ID too (such as their passport or driving licence), but they are not obliged to provide this to you.</p>
                    <p>If you have a different surname from your child, an officer at Border Control may make enquiries about this so it is recommended that you carry a certified copy of your child’s birth certificate. Some countries, such as South Africa, will insist upon this so it’s important to check the entry criteria for your chosen destination. If your name is different to that on the birth certificate, perhaps because you have remarried or reverted to your maiden name, then you should take a copy of the deed of name change and/your marriage/civil partnership certificate).</p>
                    <p>There will be cases where one parent refuses to provide their consent for the other parent to take the child on holiday. When an agreement cannot be reached either at mediation or with the assistance of solicitors, then the parent will need to make an application to the Court for a specific issue order seeking permission to travel with the children. The Court’s paramount consideration will be the child’s welfare and so the judge will assess whether the holiday is in the child’s best interest, and whether there are any risks associated with the trip. For example, is the destination country considered dangerous?  Where wider family live abroad, there may be a perceived risk of the child not being returned, and this will be explored carefully by the Court.</p>
                    <p>In the same way, if a parent is concerned that the other parent may take their child abroad without their consent, they can apply for a prohibited steps order seeking that the Court prohibits the other parent from travelling with the child without the other parent’s permission or without a court order. Again, the child’s best interest and welfare will be the court’s priority and the risks associated with travel will be assessed carefully.</p>
                    <p>In conclusion, to ensure a safe, fun, and lawful holiday this summer, make arrangements with the other parent as soon as possible and maintain regular dialogue. In nearly all instances, being open and transparent will go a long way in promoting a positive co-parenting relationship and can hopefully reduce the risk of any later arguments (including whilst on holiday).</p>
                </div>
                <div class="col-lg-1 offset-lg-2">
                    <div class="social-share-pane">
                        <h3 class="kicker mb-2">Share</h3>
                        <ul class="social-share-pane__list list-reset d-flex flex-sm-column">
                            <li><a href="#" class="social-share-pane__item"><span class="icon icon-facebook"></span><span class="visually-hidden">Facebook</span></a></li>
                            <li><a href="#" class="social-share-pane__item"><span class="icon icon-twitter"></span><span class="visually-hidden">Twitter</span></a></li>
                            <li><a href="#" class="social-share-pane__item"><span class="icon icon-linkedin"></span><span class="visually-hidden">Linkedin</span></a></li>
                            <li><a href="#" class="social-share-pane__item"><span class="icon icon-link"></span><span class="visually-hidden">Youtube</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7 offset-lg-1 mt-4 mb-5 mt-lg-5 mb-lg-7">
                    <div class="about-author">
                        <div class="row g-2 g-lg-3">
                            <div class="col-4 col-lg-3">
                                <div class="about-author__image">
                                    <img src="/images/content/alicia.jpg" />
                                </div>
                            </div>
                            <div class="col-8 col-lg-9">
                                <p class="kicker kicker--small">About the author</p>
                                <h2 class="about-author__title">Annabel Andreou</h2>
                                <p class="about-author__copy">Annabel Andreou is a solicitor in the family and divorce team at Debenhams Ottaway, a law firm that helps individuals, families and businesses to navigate legal challenges, and make the most of new opportunities at home and in business. Their focus on their people and clients has won them awards and outstanding client feedback.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include "site-footer.html" %}
    <script src="/scripts/bundle.js"></script>
    </body>
</html>
