// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system
//
$blue: #334fb4;
$blue-vibrant: #349ce2;
$blue-xbright: #66ccff;
$blue-20: #d5ebff;
$blue-10: #ebf5ff;
$blue-5: #f5faff;

$darkblue: #2a297c;
$darkblue-50: #8890b1;
$darkblue-20: #cfcfda;
$darkblue-10: #ebebef;
$darkblue-5: #f7f7f8;

$green: #397d1c;
$green-vibrant: #7ed957;

$berry: #e40259;
$white: #ffffff;
$black: #343434;

// Default Bootstrap colors
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
    (
        'blue': $blue,
        'indigo': $indigo,
        'purple': $purple,
        'pink': $pink,
        'red': $red,
        'orange': $orange,
        'yellow': $yellow,
        'green': $green,
        'teal': $teal,
        'cyan': $cyan,
        'white': $white,
        'gray': $darkblue-20,
        'gray-dark': $darkblue-50,
    ),
    $colors
);

// Bootstrap theme colors
$primary: $blue;
$secondary: $green;
$success: $green;
$info: $blue-20;
$warning: $yellow !default;
$danger: $red !default;
$light: $darkblue-20;
$dark: $black;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
    (
        'primary': $primary,
        'secondary': $secondary,
        'success': $success,
        'info': $info,
        'warning': $warning,
        'danger': $danger,
        'light': $light,
        'dark': $dark,
    ),
    $theme-colors
);

// Typography
//
$font-family-sans-serif: 'DM Sans', 'Helvetica Neue', 'Noto Sans',
    'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-copy: 'AtkinsonHyperlegible', 'Helvetica Neue', 'Noto Sans',
    'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
$font-size-base: 1.125rem;
$line-height-base: 1.4;
$line-height-sm: 1.25;
$line-height-lg: 1.5;
$h1-font-size: $font-size-base * 3.11111111; // 56
$h2-font-size: $font-size-base * 2.666666666666667; // 48
$h3-font-size: $font-size-base * 1.777777777777778; // 32
$h4-font-size: $font-size-base * 1.333333333333333; // 24
$h5-font-size: $font-size-base * 1.111111111111111; // 20
$h6-font-size: $font-size-base * 0.8888888888888889; // 16
$h7-font-size: $font-size-base * 0.7777777777777778; // 14
$h8-font-size: $font-size-base * 0.6666666666666667; // 12

$headings-margin-bottom: 1rem * 0.5;
$headings-font-family: null;
$headings-font-style: null;
$headings-font-weight: 700;
$headings-line-height: 1.4;
$headings-color: $blue;

// Border radius
$border-radius: 16px;

// Body
//
// Settings for the `<body>` element.
$body-color: $black;

// Links
//
// Style anchor elements.
$link-color: $primary;
$link-decoration: underline;
$link-shade-percentage: 20%;
$link-hover-color: $link-color;
$link-hover-decoration: null;

// Paragraphs
//
// Style p element.
$paragraph-margin-bottom: 1rem;

// Grid
//
// Modify the Bootstrap grid
$grid-gutter-width: 2.5rem;
